<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mycart</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>
        
        <!-- Schema management -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Show SQL in console -->
        <property name="hibernate.show_sql">true</property>
        
       
        
        <!-- Mapping classes -->
        <mapping class="com.mycompany.mycart.entities.User"/>
        <mapping class="com.mycompany.mycart.entities.Category"/>
        <mapping class="com.mycompany.mycart.entities.Product"/>

    </session-factory>
</hibernate-configuration>
